#game  {
    width: 15rem;
    height: 15rem;
    background: white;


}

// .block {
//     height: 5rem;
//     width: 5rem;
//     float: left;
//     border: 2px solid black;
//     box-sizing: border-box;
//     font-size: 3rem;
// }

